.filter-row {

    .filter-row-title {
        h3 {
            color: #151875;
            font-family: "Josefin Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        span {
            color: #8A8FB9;
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    ul {
        list-style: none;
        gap: 10px;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            &:first-child {
                input {
                    width: 50px;
                    height: 20px;
                }
            }

            label {
                color: #3F509E;
                font-family: Lato;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            span {
                color: var(--sale-tage-coloe, #3F509E);
                font-family: Lato;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

        }
    }

    .MuiMenuButton-root {
        color: var(--sub-text-color, #8A8FB9);
        font-family: Lato;
        font-size: 12px;
        font-weight: 300;
        padding: 0px 5px !important;
        border-radius: 0;
        height: fit-content;
    }
}