
.featuredCard {
    margin: 0px 10px;
}

.featuredCard .featuredCardHeader {
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        padding: 50px;
        object-fit: contain;
        background: #F6F7FB;
    }
}

.featuredCard .slick-list {
    width: 100%;
}

.featuredCard .text-container {
    gap: 10px;

    p {
        color: #151875;
        font-size: 14px;
    }
}


.featuredCard .slick-dots li button::before {
    content: "";
    display: block;
    width: 14px;
    height: 4px;
    opacity: 1;
    margin: 2px auto;
    position: relative;
    border-radius: 5px;
    transition: .3s;
}

.featuredCard .slick-dots li:nth-child(1) button::before {
    background-color: #05E6B7;
    top: 0px;
}

.featuredCard .slick-dots li:nth-child(2) button::before {
    background-color: #F701A8;
    top: 0px;
}

.featuredCard .slick-dots li:nth-child(3) button::before {
    background-color: #00009D;
    top: 0px;
}

.featuredCard .slick-dots li.slick-active button::before {
    background-color: red !important;
    transform: scale(1.3);
}






.featuredCard .hover-links-area {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: center;
    padding-left: 15px;
    padding-top: 10px;
    z-index: 55555;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    background: linear-gradient(to right, #1389FF, #1DB4E7);
    background-clip: text;
    color: transparent;

    .hover-link:first-child {
        background-color: #EEEFFB;
        border-radius: 50%;
        padding: 8px;

    }
}

.featuredCard:hover {
    /* transform: scale(1.05); */
    transition: 0.5s;
    background-color: #2F1AC4;
    ;

    .hover-links-area {
        opacity: 1;
        visibility: visible;
        transition: .5s;
    }

    &.featuredCard .text-container p,
    h5 {
        color: #fff !important;
        transition: 0.5s;
    }

    .slick-dots li:nth-child(3) button::before {
        background-color: #fff;
        top: 0px;
    }
}